In [1]:
from tools import get_path,station_info,merge_dataFrame
import pandas as pd

fileName_list = get_path()
stations_df = station_info()
all_in_out = merge_dataFrame(fileName_list, stations_df)
station_in_out= pd.concat(all_in_out)
station_in_out

              日期   站名    進站    出站
0     2019-04-23   基隆  8442  7743
1     2019-04-23   三坑  1394  1348
2     2019-04-23   八堵  2770  2423
3     2019-04-23   七堵  6113  6335
4     2019-04-23   百福  2680  2726
...          ...  ...   ...   ...
86604 2023-12-31   瑞芳  7916  8252
86605 2023-12-31  海科館   164   195
86606 2023-12-31  八斗子   652   720
86607 2023-12-31  四腳亭  1526   656
86608 2023-12-31   暖暖   576   447

[406761 rows x 4 columns]

In [2]:
station_in_out.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406761 entries, 0 to 86608
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   日期      406761 non-null  datetime64[ns]
 1   站名      406761 non-null  object
 2   進站      406761 non-null  int64
 3   出站      406761 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 15.5+ MB

In [3]:
station_in_out.query('站名=="基隆"').max()

日期    2023-12-31 00:00:00
站名                     基隆
進站                  15010
出站                  12986
dtype: object