In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.168626 -0.119124
1    a  two  0.579735  1.031027
2    b  one  0.192100 -0.097374
3    b  two  0.437032 -0.510695
4    a  one -0.131856  0.158034

In [2]:
df.T

              0         1         2         3         4
key1          a         a         b         b         a
key2        one       two       one       two       one
data1  0.168626  0.579735    0.1921  0.437032 -0.131856
data2 -0.119124  1.031027 -0.097374 -0.510695  0.158034