In [ ]:
import pandas as pd
all =pd.read_csv('world.csv')
all_fill=all[['洲名','國家','日期','總確診數','新增確診數']]
all_fill

In [ ]:
all_fill[all_fill['國家']=='台灣']

In [ ]:
all_fill[(all_fill['國家']=='台灣') | (all_fill['國家']=='日本')]

In [21]:
all_fill.query('國家=="台灣"')
tj=all_fill.query('國家=="台灣" or 國家=="日本"')

In [22]:
tj

        洲名  國家          日期     總確診數  新增確診數
85626   亞洲  日本  2020-01-22        2      0
85627   亞洲  日本  2020-01-23        2      0
85628   亞洲  日本  2020-01-24        2      0
85629   亞洲  日本  2020-01-25        2      0
85630   亞洲  日本  2020-01-26        4      2
...     ..  ..         ...      ...    ...
164884  亞洲  台灣  2022-07-02  3837856  34807
164885  亞洲  台灣  2022-07-03  3870528  32672
164886  亞洲  台灣  2022-07-04  3893643  23115
164887  亞洲  台灣  2022-07-05  3929627  35984
164888  亞洲  台灣  2022-07-06  3964188  34561

[1800 rows x 5 columns]