In [10]:
import pandas as pd
all =pd.read_csv('world.csv')
all_fill=all[['洲名','國家','日期','總確診數','新增確診數']]
all_fill

        洲名   國家          日期    總確診數  新增確診數
0       亞洲  阿富汗  2020-02-24       5      5
1       亞洲  阿富汗  2020-02-25       5      0
2       亞洲  阿富汗  2020-02-26       5      0
3       亞洲  阿富汗  2020-02-27       5      0
4       亞洲  阿富汗  2020-02-28       5      0
...     ..  ...         ...     ...    ...
187880  非洲  辛巴威  2022-07-02  255586      0
187881  非洲  辛巴威  2022-07-03  255586      0
187882  非洲  辛巴威  2022-07-04  255726    140
187883  非洲  辛巴威  2022-07-05  255755     29
187884  非洲  辛巴威  2022-07-06  255805     50

[187885 rows x 5 columns]

In [15]:
all_fill[all_fill['國家']=='台灣']

        洲名  國家          日期     總確診數  新增確診數
163986  亞洲  台灣  2020-01-16        0      0
163987  亞洲  台灣  2020-01-17        0      0
163988  亞洲  台灣  2020-01-18        0      0
163989  亞洲  台灣  2020-01-19        0      0
163990  亞洲  台灣  2020-01-20        0      0
...     ..  ..         ...      ...    ...
164884  亞洲  台灣  2022-07-02  3837856  34807
164885  亞洲  台灣  2022-07-03  3870528  32672
164886  亞洲  台灣  2022-07-04  3893643  23115
164887  亞洲  台灣  2022-07-05  3929627  35984
164888  亞洲  台灣  2022-07-06  3964188  34561

[903 rows x 5 columns]

In [16]:
all_fill[(all_fill['國家']=='台灣') | (all_fill['國家']=='日本')]

        洲名  國家          日期     總確診數  新增確診數
85626   亞洲  日本  2020-01-22        2      0
85627   亞洲  日本  2020-01-23        2      0
85628   亞洲  日本  2020-01-24        2      0
85629   亞洲  日本  2020-01-25        2      0
85630   亞洲  日本  2020-01-26        4      2
...     ..  ..         ...      ...    ...
164884  亞洲  台灣  2022-07-02  3837856  34807
164885  亞洲  台灣  2022-07-03  3870528  32672
164886  亞洲  台灣  2022-07-04  3893643  23115
164887  亞洲  台灣  2022-07-05  3929627  35984
164888  亞洲  台灣  2022-07-06  3964188  34561

[1800 rows x 5 columns]