In [3]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})

df

  key1 key2     data1     data2
0    a  one -0.287249  0.042722
1    a  two  1.071721  0.357932
2    b  one -0.672274 -1.348790
3    b  two  1.528528  1.154408
4    a  one  1.055774 -0.525377

In [4]:
groupe=df['data1'].groupby(df['key1'])
groupe.min()

key1
a   -0.287249
b   -0.672274
Name: data1, dtype: float64

In [8]:
groupe.aggregate(['min','max'])

           min       max
key1
a    -0.287249  1.071721
b    -0.672274  1.528528

In [10]:
groupe.aggregate([('最小','min'),('最大','max')])

            最小        最大
key1
a    -0.287249  1.071721
b    -0.672274  1.528528

In [14]:
groupe=df.groupby('key1')['data1']
groupe.min()

key1
a   -0.287249
b   -0.672274
Name: data1, dtype: float64

In [15]:
groupe.aggregate(['min','max','count'])

           min       max  count
key1
a    -0.287249  1.071721      3
b    -0.672274  1.528528      2

In [16]:
groupe.aggregate([('最小','min'),('最大','max'),('數量','count')])

            最小        最大  數量
key1
a    -0.287249  1.071721   3
b    -0.672274  1.528528   2