In [ ]:
from tools import get_path,station_info,merge_dataFrame
import pandas as pd

fileName_list = get_path()
stations_df = station_info()
all_in_out = merge_dataFrame(fileName_list, stations_df)
station_in_out= pd.concat(all_in_out)
station_in_out

In [ ]:
station_in_out.info()

In [ ]:
station_in_out1=station_in_out.sort_values(by='日期')
station_in_out1

In [6]:
groupe=station_in_out1.groupby('站名')[['進站','出站']]
groupe

In [ ]:
groupe.min()

In [10]:
df1=groupe.aggregate([('最少人數','min'),('最多人數','max'),('中間人數','median')])
df1

      進站                 出站
    最少人數  最多人數    中間人數 最少人數  最多人數    中間人數
站名
七堵   141  7704  5706.0  210  8288  5745.0
三坑    34  1715  1298.0   31  1835  1333.5
三塊厝   16   933   464.0   15  1013   488.5
三姓橋    3  2125  1043.0   16  1603   980.5
三民     0    52     6.0    0    57    10.0
..   ...   ...     ...  ...   ...     ...
鼓山     9  2352   231.5   16  1055   240.0
龍井    36  2131   331.0   35  5506   318.0
龍泉     0   103    12.0    1   390    14.0
龍港     2   106    16.0    2   130    21.0
龜山     3   389    79.0    0   287    76.0

[241 rows x 6 columns]

In [14]:
series1=df1.stack(level=[0,1])
series1.index.names=['站名','進出','統計']
series1

C:\Users\Administrator\AppData\Local\Temp\ipykernel_5636\4000159751.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  series1=df1.stack(level=[0,1])

站名  進出  統計
七堵  出站  最少人數     210.0
        最多人數    8288.0
        中間人數    5745.0
    進站  最少人數     141.0
        最多人數    7704.0
                 ...
龜山  出站  最多人數     287.0
        中間人數      76.0
    進站  最少人數       3.0
        最多人數     389.0
        中間人數      79.0
Length: 1446, dtype: float64

In [ ]:
df2=series1.unstack(level=['站名'])
df2